/**
 * Generally, any serious issues will prevent Modular from 
 * compiling whatsoever, so whilst the below tests have very
 * little coverage, it is enough to know that the core Modular
 * functions are working
 */

// Import Modular
@import "../src/scss/modular";

@include module('foo') {
    
    content: '#{&}';
    /* What we expect */
    content: '.foo, [class*="foo-"]';
    
    @include modifier('modifier') {
        content: '#{&}';
        /* What we expect */
        content: '[class*="foo-"][class*="-modifier"]';
    }
    
}

@mixin bar($custom: ()) {
    
    $bar: config((
        'name' : 'bar'
    ), $custom);
    
    @include module {
        
        content: '#{&}';
        /* What we expect */
        content: '.bar, [class*="bar-"]';
        
        @include modifier('modifier') {
            content: '#{&}';
            /* What we expect */
            content: '[class*="bar-"][class*="-modifier"]';
        }
        
    }

}

@include bar;