[submodule "vendor/Sass-Boost"]
	path = vendor/Sass-Boost
	url = https://github.com/esr360/Sass-Boost.git
[submodule "vendor/Sass-JSON"]
	path = vendor/Sass-JSON
	url = https://github.com/esr360/Sass-JSON.git
