/*-----------------------------------------------------------------

Modular
Made by @esr360
http://github.com/esr360/Modular/
	
-----------------------------------------------------------------*/
.button,
[class*="button-"] {
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
  border: 1px solid transparent;
  line-height: 2.4;
  padding: 0 1em;
  background: grey;
  color: white;
}
[class*="button-"][class*="-round"], [class*="button-"][class*="-purchase"] {
  border-radius: 0.4em;
}
[class*="button-"][class*="-block"] {
  display: block;
}
[class*="button-"][class*="-border"] {
  background: transparent;
  color: white;
  border-color: white;
}
[class*="button-"][class*="-border"]:hover {
  background: white;
  color: #183C4C;
}
[class*="button-"][class*="-primary"], [class*="button-"][class*="-purchase"] {
  background: #15bbf2;
}
[class*="button-"][class*="-primary"]:hover, [class*="button-"][class*="-purchase"]:hover {
  background: #0b9ac9;
}
[class*="button-"][class*="-secondary"] {
  background: green;
}
[class*="button-"][class*="-small"] {
  font-size: 0.8em;
}
[class*="button-"][class*="-large"], [class*="button-"][class*="-purchase"] {
  font-size: 1.4em;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: url("bg.jpg");
  font-family: 'Raleway', sans-serif;
  color: white;
}
body:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 960px;
  max-width: 95%;
  margin: auto;
}

.main-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo {
  display: inline-block;
}
.logo img {
  display: block;
}

h3 {
  font-weight: lighter;
}

.bgroup {
  padding-top: 0.75em;
}
