/// Create a new module
///
/// @author [@esr360](http://twitter.com/esr360)
///
/// @param {string|list} $modules - The module(s) you wish to create
/// @param {string} $type - Determine module type
///
/// @example
///     @include module('header') {
///         ...
///     }
///
///     <div class="header">...</div>
@mixin module(
    $modules: if(variable-exists('config'), (map-get($config, 'name')), ''),
    $type: if(variable-exists('config'), (map-get($config, 'selector-type')), $selector-type)
) {
    $content: false;

    @if type-of($modules) == 'map' {
        $content: $modules;
        $modules: if(variable-exists('config'), (map-get($config, 'name')), '');
    }

    @if ($module-namespace) {
        $modules: $module-namespace + $modules;
    }

    // disable any output
    $disable-output: if(variable-exists('disable-output'), $disable-output, false);

    @if variable-exists('config') and map-has-key($config, 'disable-output') {
        $disable-output: map-get($config, 'disable-output');
    }

    // @TODO this needs to identify if nested within itself, not in general
    $nested: &;

    @if not $nested {
        // We are creating a root module, so create a global variable
        $module: $modules !global;
    }

    $selectors: ();

    @each $module in $modules {
        @if $type == 'flex' or $type == 'static' {
            $selectors: join($selectors, '.#{$module}', comma);
        }
        @if $type == 'flex' or $type == 'chain' {
            $selectors: join($selectors, '[class*="#{$module}#{$modifier-glue}"]', comma);
        }
        @if $type == 'data' {
            $selectors: join($selectors, '[data-#{$module}]', comma);
        }
    }

    $target: false;

    @if variable-exists('config') and map-has-key($config, 'target') {
        $target: map-get($config, 'target');
    }

    @if not $disable-output {
        @if $type == 'natural' {
            @include module-content($modules, $type, $config, $target);

            @content;
        }
        @else {
            #{$selectors} {
                @if not $nested {
                    @include module-content($modules, $type, $config, $target);
                }

                @content;
            }
        }
    }
}

/// Render a module's content
///
/// @param {string|list} $module
/// @param {string} $type
/// @param {map} $config
/// @param {*} $target
@mixin module-content($module, $type, $config, $target) {
    @include extend-modifiers;
    @include combine-modifiers;

    @if variable-exists('config') {
        @if $module == map-get($config, 'name') or $target {
            @if $target {
                #{$target} {
                    @include get-css-from-map($config);
                }
            }
            @else {
                @include get-css-from-map($config);
            }
        }
    }
}

/// Alias for module() mixin
///
/// @param {string|list} $modules - The module(s) you wish to create
/// @param {string} $type - Determine module type
@mixin modules($modules, $type: $selector-type) {
    @include module($modules, $type) {
        @content;
    }
}

/// Combine modifiers into a new, single modifier
///
/// @param {map} $styles - The CSS styles to output
@mixin combine-modifiers($combine: if(variable-exists('config'), (map-get($config, 'combine')), '()')) {
    @if variable-exists('config') and $combine {
        @each $new-modifier, $target-modifiers in $combine {
            @include modifier($new-modifier) {
                @include extend(($target-modifiers));
            }
        }
    }
}

/// Extend modifiers into the naked module
///
/// @param {map} $styles - The CSS styles to output
@mixin extend-modifiers($modifiers: if(variable-exists('config'), (map-get($config, 'modifiers')), '()')) {
    @if variable-exists('config') and $modifiers {
        @include extend(($modifiers));
    }
}