/// Apply styles to a module if a passed option returns true
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {string} $option - The option which you wish to test against
///
/// @example
///     @mixin billboard($custom: ()) {
///
///         $billboard: config((
///             fullscreen : false
///         ), $custom);
///
///         @include module('billboard') {
///             @include option('fullscreen') {
///                 ...
///             }
///         }
///
///     }
///
///     @include billboard: ((
///         fullscreen : true
///     ));
@mixin option($option-path...) {

    $value  : map-get-deep($config, $option-path...);
    $option : nth($option-path, length($option-path)) !global;

    // Create a unique, random placeholder to store styles
    $placeholder : $option + random(9999);

    // Store the styles in the placeholder
    @at-root %#{$placeholder} {
        @include get-styles(this($option));
        @content;
    }

    // Output the styles if the option is enabled
    @if value-enabled($value) {
        @extend %#{$placeholder};
    }

    // Create a modifier for the option if it is not enabled
    // by default
    @if $extend-options and not value-enabled($value) {
        @include modifier($option) {
            @extend %#{$placeholder};
        }
    }

}