/// @TODO move function to Sass-Boost as 'string-remove-duplicates'
/// Remove duplicate parts from a selector
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {string} $selector - the selecor to clean
@function clean-selector($selector) {
    $selector: str-replace(inspect($selector), ' ', ', ');
    $selector: selector-parse($selector);
    $selector: list-remove-duplicates($selector);
    $selector: str-replace(inspect($selector), ', ', ' ');

    @return $selector;
}