/// Evaluate a configuration value
///
/// @access public
///
/// @param {string} $func
@function eval-config($config) {

    @if type-of($config) == 'list' {
        $func: nth($config, 1);
        $params: list-remove($config, $func);

        @if type-of($func) == 'string' {
            @if str-index($func, '#') == 1 {
                $func: str-replace($func, '#', '');
                $func: to-lower-case($func);

                @return call($func, $params...);
            }
        }
    }

    @else if type-of($config) == 'map' {
        @each $key, $value in $config {
            $config: map-set($config, $key, eval-config($value));
        }
    }

    @return $config;
}