/// Merge maps containing module/component CSS
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {string|list} $option - the desired option
@function merge-css-maps($source, $target) {
    $content: map-merge-deep($source, $target);

    @each $property, $value in $content {
        $dup-param: null;

        @if str-index($property, $modifier-glue) == 1 {
            $dup-param: $property;
        }

        @each $property, $value in $content {
            @if str-index($property, 'modifier(') == 1 and $dup-param {
                @if get-param($property) == get-param($dup-param) {
                    $merge-dup-param: map-merge-deep(map-get($content, $property), map-get($content, $dup-param));
                    $content: map-set($content, $dup-param, $merge-dup-param);
                    $content: map-remove($content, $property);
                }
            }
        }
    }

    @return $content;
}