/// Remove junk characters from a selector string
///
/// @param {string} $query
@function remove-junk($query) {
    $query: str-replace($query, '.', '');
    $query: str-replace($query, '[class*="#{$modifier-glue}', '');
    $query: str-replace($query, '[class*="', '');
    $query: str-replace($query, '#{$modifier-glue}"]', '');
    $query: str-replace($query, '"]', '');

    @return $query;
}