/// Remove components from a selector
///
/// @author [@esr360](http://twitter.com/esr360)
///
/// @param {list} $selectors - The selector from which to remove components
///
/// @todo potential need to recurse?
@function remove-components($selector) {
    // convert selector to a string
    $selector: inspect(nth($selector, 1));

    $component: '';

    // Find out where the first component starts
    $component-index: str-index($selector, '#{$component-glue}');

    @if $component-index {
        // Strip the first part of the selector up until the first component
        $component: str-slice($selector, $component-index);

        // Find out where the component potentially ends
        $component-end-1: str-index($component, ' ');
        // Find out where the component potentially ends
        $component-end-2: str-index($component, '#{$modifier-glue}"]');
        // Find out where the component actually ends
        $component-end: '';
        @if $component-end-1 and $component-end-2 {
            $component-end: min($component-end-1, $component-end-2);
        }
        @else if $component-end-1 and not $component-end-2 {
            $component-end: $component-end-1;
        }
        @else if not $component-end-1 and $component-end-2 {
            $component-end: $component-end-2;
        }

        // Isolate the component
        $component: str-slice($component, 0, $component-end);
        // Remove the component from the selector
        $selector: str-replace($selector, $component, '');
    }

    @return $selector;
}