/// Determine if a selector is a root module
///
/// @param {string} $selector
@function selector-is-root-module($selector) {
    // convert selector into a string
    $selector: inspect($selector);

    @if $selector == '.#{$module}, [class*="#{$module}#{$modifier-glue}"]' {
        @return true;
    } 
    @if $selector == '.#{$module}' {
        @return true;
    } 
    @if $selector == '[class*="#{$module}#{$modifier-glue}"]' {
        @return true;
    }

    @return false;
}