/// Alias function to option()
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {map} $map
/// @param {arglist} $keys
@function setting($map, $keys...) {
    @return option($map, $keys...);
}