/// Strip the glue (-, _) from a string
///
/// @access public
///
/// @param {string} $string
/// @param {string} $glue
@function strip-glue($string, $glue) {
    $placeholder: random(99999);

    $clean-string: str-replace($string, $string, $placeholder + $string);
    $clean-string: str-replace($clean-string, $placeholder + $glue, '');

    @return $clean-string;
}