/// Get a value from the current module's configuration
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {arglist} $options
@function this($options...) {
    $value: option($config, $options...);
    $debug: true;

    @if (variable-exists('sass-config-parser') and $sass-config-parser) {
        $value: call($sass-config-parser, $value);
    }

    $this: &;

    @if length($this) > 0 {
        @if str-index(inspect(nth($this, 1)), '%') == 1 {
            $debug: false;
        }
    }

    @if $debug and not $value and $value != false {
        @warn '#{$options} not found in #{$module} config';
    }

    @return $value;
}