/// Determine if a passed value should be considered 'enabled'
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
///
/// @param {*} $value - the value to check
/// @returns {*} - whether or not the option is enabled
@function value-enabled($value) {
    // If the value is a map
    @if type-of($value) == 'map' {
        // Does the map contain the 'enabled' key?
        @if map-has-key($value, 'enabled') {
            @return map-get($value, 'enabled');
        } @else {
            @return $value;
        }
    } 
    // If the value is a list
    @else if type-of($value) == 'list' {
        // Is the first value a bool?
        @if type-of(nth($value, 1)) == 'bool' {
            @return nth($value, 1);
        } @else {
            @return $value;
        }
    } @else {
        @return $value;
    }
}