@include test-module('map-set') {
    @include test('set a key in an existing map') {

        $map: ('foo' : null);

        $actual   : map-set($map, 'foo', 'bar');
        $expected : ('foo' : 'bar');

        @include assert-equal($actual, $expected, 'should return a map with new set value');

    }
}