@include test-module('map-merge-deep') {
    @include test('recursively merge two maps') {

        $map1: (
            'foo' : (
                'bar' : (
                    'baz' : false,
                    'qux' : 1
                )
            )
        );
        
        $map2: (
            'foo' : (
                'bar' : (
                    'baz' : true
                )
            )
        );

        $actual   : map-merge-deep($map1, $map2);
        $expected : (
            'foo' : (
                'bar' : (
                    'baz' : true,
                    'qux' : 1
                )
            )
        );

        @include assert-equal($actual, $expected, 'should return new merged map');

    }
}