@include test-module('config') {
    @include test('merge a module`s default configuration with any custom values') {

        $default: (
            'breakpoints': (
                'break-1': 420px,
                'break-2': 720px,
                'break-3': 960px
            )
        );
        $custom: (
            'breakpoints': (
                'break-2': 800px,
                'break-4': 1200px
            )
        );

        $actual   : config($default, $custom);
        $expected : (
            'selector-type': 'flex', 
            'extend-options': true,
            'output-JSON': false, 
            'breakpoints': (
                'break-1': 420px,
                'break-2': 800px,
                'break-3': 960px,
                'break-4': 1200px
            )
        );

        @include assert-equal($actual, $expected, 'should return the updated configuration');

    }
}