@include test-module('this') {
    @include test('get a value from the current module`s configuration') {
    
        @mixin foo($custom: ()) {
            $foo: config((
                'foo' : ('bar' : false)
            ), $custom);
        }

        @include foo((
            'foo' : ('bar' : true)
        ));

        $actual   : this('foo', 'bar');
        $expected : true;

        @include assert-equal($actual, $expected, 'should return the expected value');

    }
}